<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>用户注册</title>
</head>
<body>
  <form action="/signup" method="post">
    <input type="text" name="account" id="" placeholder="Account">
    <br>
    <input type="password" name="password" id="" placeholder="Password">
    <br>
    <button type="submit">submit</button>
  </form>
  <p>Result: <%= result %></p>
</body>
</html>